body {
    margin: 0px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: 100ms;
}

.choice:hover {
    transform: scale(1.3);
}

#reset {
    margin: 10px 0px 10px 0px;
    font-weight: bold;
}

#playerScore,
#computerScore {
    display: inline-block;
}

#scores {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.result-choice {
    text-align: center;
    opacity: .5;
}

.winner {
    opacity: 1;
    font-size: 2.5rem;
}